<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
<h1>This is the home page 1 + 3</h1>
<!-- This is ejs syntax that is <%= %> used to print the value which always given in string and we can use any method we want -->
<h1> <%= 1+3   %></h1>
<h1> <%= ["hello", "namaste"][1] %></h1>
<h1> <%= "ApnaCollege".toUpperCase() %></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores, blanditiis dolor ducimus ea eum ex fugit
    omnis quae ullam vel voluptatem? A ab accusamus aliquam at aut autem consequuntur cumque dignissimos dolor dolorum
    earum eius eos esse est eum exercitationem explicabo fugiat harum illo, impedit ipsum iste laudantium maxime minus
    molestiae nam necessitatibus nostrum officiis omnis praesentium provident reiciendis sequi sit tempora ut vel
    voluptatum? Autem deleniti, eaque. Accusamus aperiam dolore, eum exercitationem fuga id illum iure, laborum
    molestiae quas quia reprehenderit similique tempora? Ab, alias at aut, deleniti dolore earum eius eligendi libero
    magnam officia officiis provident suscipit!</p>
</body>
</html>